/* footer */
footer {
    padding: 2rem;
    background: #2C3E50;
}

.footer-links-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-link-list {
    width: 25rem;
    margin-right: 1.6rem;
}

.footer-link {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    padding: .4rem 0;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-media-links {
    display: flex;
}

.social-media-list-item {
    padding: 1rem;
}

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    width: 5rem;
    height: 5rem;
    background-color: #2C3E50;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.social-media-link:hover {
    background-color: #fff;
    color: #2C3E50;
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.4rem 0 1.2rem;
}

.copyright-link {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
}

.copyright small {
    color: #fff;
}