<footer>
    <div class="footer-links-box">
        <div class="footer-links">
            <ul class="footer-link-list">
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Hakkımızda</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>İş Ortaklığı</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Yatırımcılar</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>İletişim</p>
                    </a>
                </li>
            </ul>
            <ul class="footer-link-list">
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Koşullar</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Gizlilik Politikası</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Çerez Ayarları</p>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="" class="footer-link">
                        <p>Yardım ve Destek</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="social-media-link-box">
            <ul class="social-media-links">
                <li class="social-media-list-item">
                    <a href="" class="social-media-link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-media-list-item">
                    <a href="" class="social-media-link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="social-media-list-item">
                    <a href="" class="social-media-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div>
            <a href="{% url 'home_page' %}" class="copyright-link">Akademi</a>
        </div>
        <div>
            <small>&copy; 2022 Tüm Hakları Saklıdır.</small>
        </div>
    </div>
</footer>