{% extends 'base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/alerts.css' %}">
{% endblock %}
{% block page_title %}404 - Sayfa Bulunamadı{% endblock %}
{% block content %}
<main>
    <section>
        <div class="container">
            <div class="alert-container">
                <div class="alert-danger">
                    <div class="alert-danger-icon">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                    <h1>Sayfa Bulunamadı!</h1>
                    <p>Sayfa kaldırılmış veya eksik girilmiş olabilir.</p>
                </div>
                <div class="error-detail">
                    <div class="error-detail-icon">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                    <div class="error-detail-text">
                        <h4>Şimdi ne yapabilirsiniz?</h4>
                        <p>Lütfen adresi doğru yazdığınızdan emin olun.</p>
                        <p>Eğer bunun teknik bir sorun olduğunu düşünüyorsanız, sayfayı Müşteri Hizmetleri'ne bildirin.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block js_files %}{% endblock %}